a:hover {
  color:#c0bab2;
}

body {
  margin: 0;
  text-align: center;
  background-color: #181a1b;
}

div {
  display: inline-block;
  height: fit-content;
  width: 100%;
}

h1 {
  color: #4AB19A;
  font-family: Sofia;
  font-size: 5.625rem;
  margin: 100px auto 10px auto;
  width: fit-content;
}

h2 {
  font-size: 2.5rem;
  font-family: Poppins;
  color: #7ae0c9;
  padding-top: 4.25rem;
  padding-bottom: 0;
  margin: 15px auto 10px auto;
}

h3 {
  color: #5ec0ab;
  font-family: Poppins;
  font-size: 150%;
  font-weight: lighter;
}

hr {
  border-style: dotted;
  border-top: 0.5rem;
  border-width: 0.5rem;
  border-color: #EAF6F6;
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 5%;
}

p {
  color: #b3aca2;
  margin: 0 auto 0 auto;
  font-family: "Cormorant Garamond", Arial, serif;
  font-size: 140%;
  font-weight: 800;
}

::-webkit-scrollbar {
  background-color: #20322e;
}

::-webkit-scrollbar-thumb {
  background-color: #145520;
}


/**************************CLASS SELECTORS*************************/

.attr {
  background: none;
}

.btn-hldr {
  background-color: #035643;
  border-radius: 0.25rem;
  border-width: 0;
  color: white;
  display: inline-block;
  font-family: Poppins;
  font-size: 150%;
  font-weight: lighter;
  margin-bottom: 30px;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: underline;
}

.btn-hldr:hover {
  background-color: #023b2e;
  text-decoration: none;
}

.btn-hldr-small {
  display: inline;
  color: #45b29a;
  font-size: 100%;
  font-family: Poppins;
  font-weight: lighter;
  padding-right: 1%;
  padding-left: 1%;
  text-decoration: none;
  border-radius: 0.25rem;
}

a.btn-hldr-small:hover {
  color: #c0bab2;
}

.drive {
  float: right;
  width: 25%;
}

.ish {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 185px;
  top: 355px;
}
.bottom-container {
  display: block
}

.center {
  display: inline-block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.center-lines {
  display: inline-block;
  margin: 1.5%;
  width: 60%;
}

.div-sepr {
  height: 6rem;
}

.firstdiv {
  background-color: #20322e;
}

.footer-link {
  display: inline;
}

.land {
  margin-top: 50px;
}

.p-top {
  color: #b3aca2;
  margin: 5px auto 30px auto;
  font-family: "Cormorant Garamond", Arial, serif;
  font-size: 190%;
  font-weight: 900;
}

.romance {
  float: left;
  margin-right: 35px;
  width: 25%;
}

.skills {
  height: fit-content;
  width: 65%;
}

.skill-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.top-cloud {
  position: relative;
  top: 165px;
  margin-top: 45px;
  margin-left: 770px;
}
